USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 18.12.2022 16:01:31 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[TBLDANISMAN]    Script Date: 18.12.2022 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDANISMAN](
	[danismanId] [int] IDENTITY(1,1) NOT NULL,
	[danismanTc] [varchar](50) NULL,
	[danismanAd] [varchar](50) NULL,
	[danismanSoyad] [varchar](50) NULL,
 CONSTRAINT [PK_TBLDANISMAN] PRIMARY KEY CLUSTERED 
(
	[danismanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERI]    Script Date: 18.12.2022 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERI](
	[musteriId] [int] IDENTITY(1,1) NOT NULL,
	[musteriKimlik] [varchar](50) NULL,
	[musteriAd] [varchar](50) NULL,
	[musteriSoyad] [varchar](50) NULL,
	[musteriUlke] [varchar](50) NULL,
	[musteriDurum] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERI] PRIMARY KEY CLUSTERED 
(
	[musteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLODA]    Script Date: 18.12.2022 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLODA](
	[odaId] [int] IDENTITY(1,1) NOT NULL,
	[odaAd] [varchar](50) NULL,
	[odaKat] [int] NULL,
	[odaTur] [varchar](50) NULL,
	[odaFiyat] [decimal](18, 2) NULL,
	[odaDurum] [varchar](50) NULL,
 CONSTRAINT [PK_TBLODA] PRIMARY KEY CLUSTERED 
(
	[odaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATIS]    Script Date: 18.12.2022 16:01:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATIS](
	[satısId] [int] IDENTITY(1,1) NOT NULL,
	[danısan] [int] NULL,
	[musteri] [int] NULL,
	[oda] [int] NULL,
	[gun] [int] NULL,
	[fiyat] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATIS] PRIMARY KEY CLUSTERED 
(
	[satısId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLDANISMAN] ON 

INSERT [dbo].[TBLDANISMAN] ([danismanId], [danismanTc], [danismanAd], [danismanSoyad]) VALUES (1, N'11768822612', N'haticee', N'albayrak')
INSERT [dbo].[TBLDANISMAN] ([danismanId], [danismanTc], [danismanAd], [danismanSoyad]) VALUES (5, N'11768822612', N'leyla', N'Koçavalı')
INSERT [dbo].[TBLDANISMAN] ([danismanId], [danismanTc], [danismanAd], [danismanSoyad]) VALUES (6, N'11768822612', N'ilyas', N'çakırbeyli')
SET IDENTITY_INSERT [dbo].[TBLDANISMAN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] ON 

INSERT [dbo].[TBLMUSTERI] ([musteriId], [musteriKimlik], [musteriAd], [musteriSoyad], [musteriUlke], [musteriDurum]) VALUES (1, N'11768822612', N'HATİCE ', N'ALBAYRAK', N'TÜRKİYE', N'AKTİF')
INSERT [dbo].[TBLMUSTERI] ([musteriId], [musteriKimlik], [musteriAd], [musteriSoyad], [musteriUlke], [musteriDurum]) VALUES (2, N'12334596624', N'MARİA', N'SHOW', N'İTALYA', N'PASİF')
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLODA] ON 

INSERT [dbo].[TBLODA] ([odaId], [odaAd], [odaKat], [odaTur], [odaFiyat], [odaDurum]) VALUES (1, N'O1001', 1, N'Single', CAST(1200.00 AS Decimal(18, 2)), N'BOŞ')
INSERT [dbo].[TBLODA] ([odaId], [odaAd], [odaKat], [odaTur], [odaFiyat], [odaDurum]) VALUES (2, N'O1002', 2, N'Double ', CAST(1500.00 AS Decimal(18, 2)), N'DOLU')
SET IDENTITY_INSERT [dbo].[TBLODA] OFF
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLDANISMAN] FOREIGN KEY([danısan])
REFERENCES [dbo].[TBLDANISMAN] ([danismanId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLDANISMAN]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLMUSTERI] FOREIGN KEY([musteri])
REFERENCES [dbo].[TBLMUSTERI] ([musteriId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLMUSTERI]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLODA] FOREIGN KEY([oda])
REFERENCES [dbo].[TBLODA] ([odaId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLODA]
GO
USE [master]
GO
