
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!DOCTYPE html>
<html lang="tr">
<head>
   
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>ODALAR</h2>

        <div class="btn-group btn-group-justified">
            <a href="/ODA/TUMODALAR" class="btn btn-primary">TÜM ODALAR</a>
            <a href="/ODA/BOSODALAR" class="btn btn-primary">BOŞ ODALAR</a>
            <a href="/ODA/DOLUODALAR" class="btn btn-primary">DOLU ODALAR</a>
        </div>
    </div>

</body>
</html>

